p.first::first-letter {
  font-size: 200%;
}

div p {
  background-color: white;
}

main p:first-child {
  font-style: italic;
}

:root {
  --fancy-color: #502000;
}

h1, h2 {
  font-size: 12pt;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bolder;
  color: #800000;
  a:link { color: blue; }
  a:hover, a:focus { color: red; }
  main p:first-child { font-weight: normal; }
  main p:first-child::first-letter { font-size: 12pt; }
}

p q  {
  font-variant: small-caps;
}

main>p {
  line-height: 200%;
}
#copyright { font-size: 80%; }
